<br>
<div class="container">
    <form action="">
        <div class="form-group">
            <input type="password" name="contraseñaActual" class="form-control w-25" placeholder="Contraseña actual" [(ngModel)] = "claveAntigua"> 
        </div>
        <br>
        <div class="form-group">
            <input type="password" name="contraseñaNueva" class="form-control w-25" placeholder="Nueva contraseña" [(ngModel)] = "claveNueva"> 
        </div>
        <br>
        <button class="btn btn-danger w-25" (click)="cambiarClave()">Confirmar</button>
    </form>
</div>
