
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
        <a href="/paginaInicio"><img id="logoCatastro" src="https://minvivienda.larioja.gob.ar/images/2020/03/31/dgclr1.png"></a>
        <a class="navbar-brand" href="#">CATASTRO - LA RIOJA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!--PARA LAS SECCIONES QUE AUN NO EXISTEN-->
            <a class="nav-link" routerLink="/paginaInicio" routerLinkActive="active">Inicio</a>
            <a class="nav-link" href= "http://www.catastrolr.com.ar/home.php" target="_blank">Solicitudes - Catastro</a>
            <a class="nav-link" routerLink="/soliMensura" routerLinkActive="active">Solicitudes de Mensura</a>

            <a class="nav-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
        </div>
        </div>
    </div>
    </nav>