#logoDGC{
    width: 550px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 4%;
    border-radius: 10px;
}

h1{
    color: #eb1a37;
}

.logo-textDiv {
    margin-top: 15px;
    margin-bottom: 15px;
}

.tituloDir{
    padding-top: 15px;
    background-color: #eb1a37;
    
   
}

.btnInicio{
    
    margin-right: 30%;
}

#contenedorTitulo{
    border: 2px solid #eb1a37;
    background-color: #eb1a37;
    border-radius: 6px;
    margin-bottom: 10px;
}