<div class="container">
    <div class="cabecera">
        <h1>Solicitud de Mensura</h1>
        <button class="btn btn-outline-danger botonCabecera">Volver</button>
        <button class="btn btn-outline-danger botonCabecera">Guardar Borrador</button>
        <button id="btnPresentar" class="btn btn-danger">Presentar y Pegar</button>
    </div>
    
    
    <div id = "barraNuevaSolicitud">
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-nav">
                    <button class="btn btn-danger btn-sm" (click) = 'escribirHTML(1)'>Subsistencia de dominio</button>
                    <button class="btn btn-danger" (click) = 'escribirHTML(2)'>Certificado Catastral</button>
                    <button class="btn btn-danger"(click) = 'escribirHTML(3)'>Estado de cuenta</button>
                    <button class="btn btn-danger" (click) = 'escribirHTML(4)'>Copia de escrituras</button>
                    <button class="btn btn-danger" (click) = 'escribirHTML(5)'>Visación del Colegio de Agrimensores</button>
                    <button class="btn btn-danger" (click) = 'escribirHTML(6)'>Notificación a Catastro de iniciación de mensuras</button>
                    <button class="btn btn-danger" (click) = 'escribirHTML(7)'>Citación de colindantes y ocupantes</button>
                    <button class="btn btn-danger" (click) = 'escribirHTML(8)'>Acta de Conformidad de colindantes</button>
                    <button class="btn btn-danger" (click) = 'escribirHTML(9)'>Memoria descriptiva</button>
                    <button class="btn btn-danger" (click) = 'escribirHTML(10)'>Visación Municipal</button>
                    <button class="btn btn-danger" (click) = 'escribirHTML(11)'>Proyecto o plano de obra</button>
                    <button class="btn btn-danger" (click) = 'escribirHTML(12)'>Aprobación de agrimensura Divis. Rurales </button>
                    <button class="btn btn-danger" (click) = 'escribirHTML(13)'>Plano digital</button>
                    
                </div>
                
            </div>
        </nav>
        
        <div class="container">
            <div *ngIf = "nroBtn==1">
                <form action="">
                    <button (click) = 'descargaSubsistenciaPDF(subsistencia.pdf_subsistencia)'>LEER PDF </button>
                    <br>
                    <div class="form-group">
                        <label for="observaciones">Observaciones</label>
                        <input type="text" name="observaciones" class="form-control"> 
                    </div>
                </form>
            </div> 
            <div *ngIf = "nroBtn==2">
                <form action="">
                    <label>Informe Catastral: {{ certificado.informe_catastral }}</label>
                    <button (click)= 'descargaCertificadoPDF(certificado.pdf_certificado)'>LEER PDF </button>
                    <br>
                    <div class="form-group">
                        <label for="observaciones">Observaciones</label>
                        <input type="text" name="observaciones" class="form-control"> 
                    </div>
                </form>
            </div>
            <div *ngIf = "nroBtn==3">
                <form action="">
                    <label>Estado: {{ estadoCuenta.db_nodb }}</label>
                    <br>
                    <div class="form-group">
                        <label for="observaciones">Observaciones</label>
                        <input type="text" name="observaciones" class="form-control"> 
                    </div>
                </form>
            </div>
            <div *ngIf = "nroBtn==4">
                <form action="">
                    <button (click) = 'descargaCopiaEscrituraPDF(copiaEscritura.pdf_escritura)'>LEER PDF </button>
                    <br>
                    <div class="form-group">
                        <label for="observaciones">Observaciones</label>
                        <input type="text" name="observaciones" class="form-control"> 
                    </div>
                </form>
            </div>
            <div *ngIf = "nroBtn==5">
                <form action="">
                    <label for="">Tipo: {{ visacionAgrimensores.tipo }}</label>
                    <button (click) = 'descargaVisacionAgrimensoresPDF(visacionAgrimensores.pdf_visado_agrimensores)'>LEER PDF </button>
                    <br>
                    <div class="form-group">
                        <label for="observaciones">Observaciones</label>
                        <input type="text" name="observaciones" class="form-control"> 
                    </div>
                </form>
            </div>
            <div *ngIf = "nroBtn==6">
                <form action="">
                    <button (click) = 'descargaNotificacionPDF(notificacion.pdf_notificacion)'>LEER PDF </button>
                    <br>
                    <div class="form-group">
                        <label for="observaciones">Observaciones</label>
                        <input type="text" name="observaciones" class="form-control"> 
                    </div>
                </form>
            </div>
            <div *ngIf = "nroBtn==7">
                <form action="">
                    <button (click) = 'descargaCitacionPDF(citacionColindante.pdf_citacion)'>LEER PDF </button>
                    <br>
                    <div class="form-group">
                        <label for="observaciones">Observaciones</label>
                        <input type="text" name="observaciones" class="form-control"> 
                    </div>
                </form>
            </div>
            <div *ngIf = "nroBtn==8">
                <form action="">
                    <button (click) = 'descargaActaPDF(actaConformidad.pdf_acta)'>LEER PDF </button>
                    <br>
                    <div class="form-group">
                        <label for="observaciones">Observaciones</label>
                        <input type="text" name="observaciones" class="form-control"> 
                    </div>
                </form>
            </div>
            <div *ngIf = "nroBtn==9">
                <form action="">
                    <label>Estado: {{ memoriaDescriptiva.db_nodbmem }}  </label>
                    <label>Cantidad: {{ memoriaDescriptiva.cantidad }} </label>
                    <br>
                    <div class="form-group">
                        <label for="observaciones">Observaciones</label>
                        <input type="text" name="observaciones" class="form-control"> 
                    </div>
                </form>
            </div>
            <div *ngIf = "nroBtn==10">
                <form action="">
                    <button (click) = 'descargaVisacionMunicipalPDF(visacionMunicipal.pdf_visacion_municipal)'>LEER PDF </button>
                    <br>
                    <div class="form-group">
                        <label for="observaciones">Observaciones</label>
                        <input type="text" name="observaciones" class="form-control"> 
                    </div>
                </form>
            </div>
            <div *ngIf = "nroBtn==11">
                <form action="">
                    <button (click) = 'descargaPlanoProyectoPDF(planoProyecto.pdf_proyecto_obra)' >LEER PDF </button>
                    <br>
                    <div class="form-group">
                        <label for="observaciones">Observaciones</label>
                        <input type="text" name="observaciones" class="form-control"> 
                    </div>
                </form>
            </div>
            <div *ngIf = "nroBtn==12">
                <form action="">
                    <button (click) = 'descargaAprobacionPDF(aprobacionAgrimensura.pdf_aprobacion_agrimensura)'>LEER PDF </button>
                    <br>
                    <div class="form-group">
                        <label for="observaciones">Observaciones</label>
                        <input type="text" name="observaciones" class="form-control"> 
                    </div>
                </form>
            </div>
            <div *ngIf = "nroBtn==13">
                <form action="">
                    <button (click) = 'descargaPlanoDigitalPDF(planoDigital.pdf_plano_digital)'>LEER PDF </button>
                    <br>
                    <div class="form-group">
                        <label for="observaciones">Observaciones</label>
                        <input type="text" name="observaciones" class="form-control"> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

