<br>
<div class="container">
    <form action="">
        <div class="form-group">
            <input type="text" name="cuil" class="form-control w-25" placeholder="Ingrese su CUIL/T" [(ngModel)] = usuario.cuil>
        </div>
        <br>
        <div class="form-group">
            <input type="password" name="contraseña" class="form-control w-25" placeholder="contraseña" [(ngModel)] = usuario.pass> 
        </div>
        <br>
        <button class="btn btn-danger w-25" (click) = ingresar()>Ingresar</button>
    </form>
    <br>
    <button class="btn btn-danger w-25" routerLink="/solicitudUsuario">
        Solicitar usuario
    </button>
    <br>
    <a routerLink="/recuperarClave">Olvide mi contraseña</a>
</div>

<button (click) = 'download()'>PDF NO VA A ANDAR XDXDXD</button>
