<br>
<div class="container">
    <form action="">
        <div class="form-group">
            <input type="text" name="cuil" class="form-control w-25" placeholder="Ingrese su CUIL/T">
        </div>
        <br>
        <div class="form-group">
            <input type="password" name="contraseña" class="form-control w-25" placeholder="contraseña"> 
        </div>
        <br>
        <button class="btn btn-danger w-25">Ingresar</button>
    </form>
    <br>
    <button class="btn btn-danger w-25" routerLink="/registro">
        Registro
    </button>
</div>
