<div class="container">
    <h1>Solicitud de Mensura</h1>
    <br>
    <button routerLink="/agregarNuevaMensura" class="btn btn-danger">Agregar nueva mensura (Agrimensor)</button>
    <span *ngIf = "usuarioLocal.perfila_id != 10 && usuarioLocal.perfila_id !=11 && usuarioLocal.perfila_id != 12">
        <button routerLink="/controlMensura" class="btn btn-danger">Control Mensuras</button>
        <button routerLink="/generarExpediente" class="btn btn-danger">Generar Caratula</button>
        <button routerLink="/consultaCaratulas" class="btn btn-danger">Consultar caratulas</button>
        
    </span>
    <div>
        <!--Preguntar de que es la busqueda-->
        <label>Busqueda:</label>
        <input type="text" name='busqueda' class="form-control">
        <button class="btn btn-dark">Ir</button>
    </div>
    
    <table class="table table-striped table-hover table-bordered">
        <thead class="table">
          <tr>
            <th scope="col">ID Tramite</th>
            <th scope="col">ID Mensura</th>
            <th scope="col">Estado</th>
            <th scope="col">Usuario</th>
            <th scope="col">Fecha y Hora</th>
            <th scope="col">Area</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)='pasarHistorial(historiales)' *ngFor = 'let historiales of arr'>
           
                <th scope="row" > {{ historiales.id }} </th>
                <td> {{ historiales.mensura_id }} </td>
                <td> {{ historiales.estado}} </td>
                <td> {{ historiales.usuario }} </td>
                <td> {{ historiales.fechahora }} </td>
                <td> {{ historiales.area }} </td>
          
      
          </tr>
        </tbody>
      </table>

<!--   <router-outlet></router-outlet>--> 
</div>
