<div class="container">
    <table class="table table-striped table-hover table-bordered">
        <thead class="table">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">CUIL</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = 'let notas of arr'>
           
                <th scope="row" > {{ notas.id }} </th>
                <td> {{ notas.nombreCompleto }} </td>
                <td> {{ notas.cuil }} </td>
                <td> {{ notas.descripcion }} </td>
                <td>  </td>
          
      
          </tr>
        </tbody>
      </table>
    
</div>
