<div class="container">
    <div class="cabecera">
        <h1>Solicitud de Mensura</h1>
        <button class="btn btn-outline-danger botonCabecera">Volver</button>
        <button class="btn btn-outline-danger botonCabecera">Guardar Borrador</button>
        <button id="btnPresentar" class="btn btn-danger">Presentar y Pegar</button>
    </div>
    
    
    <div id = "barraNuevaSolicitud">
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-nav">
                    <button class="btn btn-danger btn-sm" (click) = "escribirHTML(1)">Susbsistencia de dominio</button>
                    <button class="btn btn-danger btn-sm" (click) = "escribirHTML(2)">Certificado Catastral</button>
                    <button class="btn btn-danger btn-sm" (click) = "escribirHTML(3)">Estado de cuenta</button>
                    <button class="btn btn-danger btn-sm" (click) = "escribirHTML(4)">Copia de escrituras</button>
                    <button class="btn btn-danger btn-sm" (click) = "escribirHTML(5)">Visación del Colegio de Agrimensores</button>
                    <button class="btn btn-danger btn-sm" (click) = "escribirHTML(6)">Notificación a Catastro de iniciación de mensuras</button>
                    <button class="btn btn-danger btn-sm" (click) = "escribirHTML(7)">Citación de colindantes y ocupantes</button>
                    <button class="btn btn-danger btn-sm" (click) = "escribirHTML(8)">Acta de Conformidad de colindantes</button>
                    <button class="btn btn-danger btn-sm" (click) = "escribirHTML(9)">Memoria descriptiva</button>
                    <button class="btn btn-danger btn-sm" (click) = "escribirHTML(10)">Visación Municipal</button>
                    <button class="btn btn-danger btn-sm" (click) = "escribirHTML(11)">Proyecto o plano de obra</button>
                    <button class="btn btn-danger btn-sm" (click) = "escribirHTML(12)">Aprobación de agrimensura Divis. Rurales </button>
                    <button class="btn btn-danger btn-sm" (click) = "escribirHTML(13)">Plano digital</button>
                    
                </div>
                
            </div>
        </nav>
       
        <br>
        <br>
        <div class= "container"> <!--El formulario se va generando en el TS (editar ahi el html cualquier cosa)-->
            <div class= "container border-danger border-3" id="formEditar">

            </div>
        </div>
        
       <!--  <div class="container"> 
            <form action="">
                <div class="form-group">
                    <label for="control">Titularidad de propiedad inmueble</label>
                    <input type="text" name="control" class="form-control w-25">
                </div>
                <br>
                <div class="form-group">
                    <label for="observaciones">Adjuntar archivo</label>
                    <input type="file" name="observaciones" class="form-control w-25"> 
                </div>
                
            </form>
        </div>
       
    
        <div class="container"> 
           
        </div>

        Estado de cuenta:
        <div class="container"> 
            <form action="">
                <div class="form-group">
                    <label for="Estado de cuenta">Estado de cuenta (Debe/No debe):</label>
                    <input type="text" name="estadoCuenta" class="form-control w-25">
                </div>  
            </form>
        </div>

        Visación del colegio:
        <div class="container"> 
            <form action="">
                <div class="form-group">
                    <select>
                        <option value = "agrimensor">Agrimensor</option>
                        <option value = "particular">Particular</option>
                    </select>
                </div>  
            </form>
        </div>

        Notif. Inicio
        <div class="container"> 
            <form action="">
                <div class="form-group">
                    <label for="Estado de cuenta">Adjuntar</label>
                    <input type="file" name="adjuntar" class="form-control w-25">
                </div>  
            </form>
        </div>

        Citación colindantes
        <div class="container"> 
            <form action="">
                <div class="form-group">
                    <label for="Ligado">Ligados:</label>
                    <input type="file" name="Ligados" class="form-control w-25">
                </div>  
            </form>
        </div>

        Memoria descriptiva
        <div class="container"> 
            <form action="">
                <div class="form-group">
                    <label for="Estado de cuenta">Estado de cuenta (Debe/No debe): </label>
                    <select>
                        <option>Debe</option>
                        <option>No debe</option>
                    </select>
                    <label>Cuanto</label>
                    <input type="text" name="estadoCuenta" class="form-control w-25">
                </div>  
            </form>
        </div>

        Proyecto: 
        <div class="container"> 
            <form action="">
                <div class="form-group">
                    <label for="datoAdjuntar">Adjunto</label>
                    <input type="file" name="datoAdjuntar" class="form-control w-25">
                </div>  
            </form>
        </div>

        Aprobación rural:
        <div class="container"> 
            <form action="">
                <div class="form-group">
                    <label for="datoAdjuntar">Adjunto</label>
                    <input type="file" name="datoAdjuntar" class="form-control w-25">
                </div>  
            </form>
        </div>

        Plano digital:
        <div class="container"> 
            <form action="">
                <div class="form-group">
                    <label for="datoAdjuntar">Adjunto</label>
                    <input type="file" name="datoAdjuntar" class="form-control w-25">
                </div>  
            </form>
        </div>-->
    </div> 
</div>
