
<div class="container"> 
    <form action="">
        <div class="form-group">
            <input type="text" name="nombre" class="form-control w-25" placeholder="Nombre y Apellido">
        </div>
        <br>
        <div class="form-group">
            <input type="mail" name="e-mail" class="form-control w-25" placeholder="E-Mail"> 
        </div>
        <br>
        <div class="form-group">
            <input type="tel" name="telefono" class="form-control w-25" placeholder="Telefono">
        </div>
        <br>
        <div class="form-group">
            <input type="text" name="consulta" class="form-control consulta" placeholder="Ingrese su consulta">
        </div>
        <br>
        <button class="btn btn-outline-danger">Atras</button>
        <button class="btn btn-danger">Enviar</button>

    </form>
</div>