<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Print Expediente Externo</title>
</head>
<body>
	<div class="contenedor">
		<div class="fila" id="titulo">
			<div class="col-2 pb-35">
				<div class="center">
					<div class="col-2">
						<img src="http://190.112.64.77:32819/tierras/tierras/expediente_catastro/img/LRescudo.png">
						<p class="larioja">LA RIOJA</p>
						<p class="subtitulo">Dirección General de Catastro</p>
						<p class="subtitulo"><span>LEY 3.778</span></p>
					</div>
					<div class="col-3 valoracion">
						<span>G02.05</span>
					</div>
				</div>
			</div>
			<div class="col-2">
				<div class="center">
					<div class="col-2">
						<div class="border-l-2 border-b-2"><span>NÚMERO</span></div>
						<div class="border-l-2 border-b-2 renglon-1 ci"><span> <b>{{caratulaExterno.numeroInterno}}</b> </span></div>
					</div>
					<div class="col-2">
						<div class="border-l-2 border-b-2"><span>AÑO</span></div>
						<div class="border-l-2 border-b-2 renglon-1 ci"><span> <b>{{caratulaExterno.anio}}</b> </span></div>
					</div>
					<div class="col-1">
						<div><h1 class="h1-alternativo">EXPEDIENTE EXTERNO</h1></div>
					</div>
				</div>
			</div>
			<!--<div class="col-1">
				<div class="col-3">
					<div class="center">
						<div class="pb-5">FECHA DE INICIACIÓN</div>
						<div class="box box-1 renglon-1"></div>
					</div>
				</div>
				<div class="col-12"></div>
				<div class="col-2">
					<div class="col-6">ORIGEN</div>
					<div class="clearfix"></div>
					<div class="col-6">ORIGEN</div>
				</div>
			</div>-->
			<div class="col-1">
				<div id="encabezado-extra" style="">
					<div class="">
						<div class="center bloque-1">FECHA DE INICIACIÓN</div>
						<div class="bloque-2" style="">ORIGEN</div>
						<div class="center renglon-1 box bloque-1" style="vertical-align: top;">
							<span> <b style="font-size:24px;">{{caratulaExterno.fechaIniciacion}}</b> </span>
						</div>
						<div class="center box bloque-2">
							<div class="col-4">
								<div class="border-b-1 renglon-1"><span> <b style="font-size:24px;">{{caratulaExterno.codigoOrigen}}</b> </span></div>
								<div class="renglon-1"><span >CÓDIGO</span></div>
							</div>
							<div class="col-2">
								<div class="border-b-1 border-l-1 renglon-1"><span> <b style="font-size:24px;">{{caratulaExterno.numeroOrigen}}</b> </span></div>
								<div class="renglon-1 border-l-1"><span>NÚMERO</span></div>
							</div>
							<div class="col-4">
								<div class="border-b-1 border-l-1 renglon-1"><span> <b style="font-size:24px;">{{caratulaExterno.anioOrigen}}</b> </span></div>
								<div class="renglon-1 border-l-1"><span>AÑO</span></div>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		
		<div class="fila" id="caratula">
			<div>
				<div class="col-1">
					<div class="border-b-1 title">Carátula</div>
					<div class="renglon-num border-b-1 relative"><span class="">ASUNTO: <b>{{caratulaExterno.caratula_asunto}}</b> </span></div>
					<div class="renglon-num border-b-1 relative"><span class="">INICIADOR: <b>{{caratulaExterno.iniciador}}</b> </span></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="fila" id="movimientos">
			<div>
				<div class="col-1">
					<div class="border-b-1 title">Movimiento Interno</div>
				</div>
				<div class="col-4">
					<div class="renglon-1 border-r-1 center"><span>AREA</span></div>
				</div>
				<div class="col-6">
					<div class="renglon-1 border-r-1" style="position: relative;">
						<div class="center border-b-1"><div style="height: 17px;">INGRESO</div></div>
						<div class="col-3 center"><div class="border-r-1" style="height: 17px;">Día</div></div>
						<div class="col-3 center"><div class="border-r-1" style="height: 17px;">Mes</div></div>
						<div class="col-3 center"><div style="height: 17px;">Año</div></div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-6">
					<div class="renglon-1 border-r-1" style="position: relative;">
						<div class="center border-b-1"><div style="height: 17px;">SALIDA</div></div>
						<div class="col-3 center"><div class="border-r-1" style="height: 17px;">Día</div></div>
						<div class="col-3 center"><div class="border-r-1" style="height: 17px;">Mes</div></div>
						<div class="col-3 center"><div style="height: 17px;">Año</div></div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-12">
					<div class="renglon-1 border-r-1 center"><span>HORA</span></div>
				</div>
				<div class="col-12">
					<div class="renglon-1 border-r-1 center"><span>FOLIOS</span></div>
				</div>
				<div class="col-4">
					<div class="renglon-1 center"><span>CONTROL DEL AGENTE ADM.</span></div>
				</div>
						<div class="col-4">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-6">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-6">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-12">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-12">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-4">
							<div class="renglon-1 border-t-1"></div>
						</div>
						<div class="col-4">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-6">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-6">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-12">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-12">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-4">
							<div class="renglon-1 border-t-1"></div>
						</div>
						<div class="col-4">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-6">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-6">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-12">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-12">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-4">
							<div class="renglon-1 border-t-1"></div>
						</div>
						<div class="col-4">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-6">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-6">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-12">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-12">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-4">
							<div class="renglon-1 border-t-1"></div>
						</div>
						<div class="col-4">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-6">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-6">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-12">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-12">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-4">
							<div class="renglon-1 border-t-1"></div>
						</div>
						<div class="col-4">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-6">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-6">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-12">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-12">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-4">
							<div class="renglon-1 border-t-1"></div>
						</div>
						<div class="col-4">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-6">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-6">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-12">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-12">
							<div class="renglon-1 border-r-1 border-t-1"></div>
						</div>
						<div class="col-4">
							<div class="renglon-1 border-t-1"></div>
						</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="fila">
			<div class="col-1">
				<div class="border-b-1 title">Observaciones</div>
				<div class="renglon-3" style="padding: 5px;"><pre>{{caratulaExterno.detalle_observacion}}</pre>
					<ngx-qrcode
						[elementType] = "elementType"
						[value] = "value"
						cssClass = "aclass"
						[errorCorrectionLevel] = "errorCorrectionLevel">
					</ngx-qrcode>
				</div>
				<div class="col-2">
					<div class="renglon-1"></div>
				</div>
				<div class="col-2">
					<div class="">CANTIDAD DE PARCELAS: <b>{{caratulaExterno.cantidadParcelas}}</b> </div>
				</div>
			</div>
	
			<div class="col-2">
				<div class="firma border-r-1 border-t-1"></div>
				<div class="firma-descripcion border-r-1  pb-5">
					MESA DE ENTRADA
				</div>
			</div>
			<div class="col-2">
				<div class="firma border-l-1 border-t-1"></div>
				<div class="firma-descripcion border-l-1  pb-5">
					RETIRADO POR (Firma y aclaración)
				</div>
			</div>
			<div class="col-2"><div class="renglon-1 border-r-1 border-t-1"><span style="padding: 5px;"> <b>{{caratulaExterno.fecha}}</b> </span></div></div>
			<div class="col-2"><div class="renglon-1 border-l-1 border-t-1"></div></div>
			<div class="clearfix"></div>
		</div>
	</div>
	
</body>
</html>
