<br>

<div class='container border border-danger'>
    <h1>Formulario de Registro</h1>
    <form action="">
        <br>
        <div class="form-group">
            <input type="text" name = "nombre" class = "form-control" [(ngModel)] = "usuario.nombre" placeholder="Nombre">
        </div>
        <br>
        <div class="form-group">
            
            <input type = "text" name = "apellido" class = "form-control" [(ngModel)] = "usuario.apellido" placeholder="Apellido">
        </div>
        <br>
        <div class="form-group">
            <input type = "password" name = "contraseña" class = "form-control" [(ngModel)] = "usuario.pass" placeholder="Contraseña">
        </div>
        <br>
        <div class="form-group">            
            <input type = "text" name = "cuil" class = "form-control" [(ngModel)] = "usuario.cuil" placeholder="CUIL">
        </div>
        <br>
        <div class="form-group">            
            <input type = "text" name = "mail" class = "form-control" [(ngModel)] = "usuario.email" placeholder="Email">
        </div>
        <br>
        <div class="form-group">
            <label for = "tipoUsuario">Tipo de Usuario: </label>
            <select  class="form-select "  name="tipoUser" [(ngModel)] = "usuario.perfila_id">
                <option [ngValue]=1>Director</option>
                <option [ngValue]=2>Mesa de Entrada</option>
                <option [ngValue]=3>Legales</option>
                <option [ngValue]=4>Agrimensura</option>
                <option [ngValue]=5>Sistemas</option>
                <option [ngValue]=6>Secretaria</option>
                <option [ngValue]=7>Disposiciones</option>
                <option [ngValue]=8>Archivos</option>
                <option [ngValue]=9>Valuaciones</option>
                <option [ngValue]=10>Agrimensor</option>
                <option [ngValue]=11>Fiscalia</option>
                <option [ngValue]=12>Estado</option>
                
            </select>
    
        </div>
        
        <br>

        <button class = "btn btn-danger" (click) = "agregarUsuario()">Registrarse</button>
        <br>
    </form>
        <br>

</div>


<br>