<div class='container'>
    <form action="">
        <div class="form-group">
            <input type="text" name="cuil" class="form-control w-25" placeholder="Ingrese su CUIL" [(ngModel)] = 'cuil' >
        </div>
        <br>
        <div class="form-group">
            <input type="text" name="mail" class="form-control w-25" placeholder="Ingrese su mail" [(ngModel)] = 'mail.email' >
        </div>
        <br>
        <button class="btn btn-danger w-25" (click)='enviarCorreo()'>Recuperar Clave</button>
        <button class="btn btn-danger w-25" (click)='getUsuario()'>Probar get</button>
    </form>
</div>